.actions {
  justify-content: space-between;
}

.active {
  background: rgb(169, 235, 169) !important;
}

.center {
  text-align: center;
}

.test {
  flex-grow: 1;
}

.card {
  margin: 16px !important;
  /* display: flex;
  margin: 32px;
  flex-direction: column;
  justify-content: space-between; */
}
