.row {
  background: white;
  transition: background 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.row:hover {
  background: #b4dbff7a;
}

.lastrow {
  background: white;
  cursor: default;
  text-decoration: none;
}

.hover {
  background: white;
}

.active {
  color: #2c70f0 !important;
}

.closed {
  color: red !important;
}

.draft {
  color: #646464 !important;
}
