.header {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.header-title-vibe {
  flex-direction: row;
  font-family: 'Merriweather';
}
.header-title-beamery {
  flex-direction: row;
  font-family: 'Merriweather';
  color: #f15852;
}

.button {
  position: absolute;
  right: 0rem;
  top: 1rem;
}
